@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Delius+Unicase:wght@400;700&family=Pacifico&family=Yellowtail&display=swap');


*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: grid;
    background-color: #EDF6F9;
}

/* Navigation Bar */

.topnav {
    overflow: hidden;
    background-color: #EDF6F9;
    margin-bottom: 10px;
}

.topnav a {
    float: left;
    color: #006D77;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #83C5BE;
    color: white;
}

h2 {
    text-align: center;
    margin: 10px 0px 20px 0px;
}


.reservationForm {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    /* box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25); */
    /* backdrop-filter: blur(15px); */

}

.reservationForm input {
    width: clamp(120px, 50vw, 420px);
    height: 2.5rem;
    padding: 0 1.25rem;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 8px;
    margin: 0.625rem auto;
    transition: all 250ms;
}
.reservationForm input :focus {
    outline: none;
    border-top-color: rgba(0,0,0,0.1);
}

:focus + .reservationForm label,
:not(:placeholder-shown) + .reservationForm label {
    transform: translateY(-4.50rem) scale(1);
    color: black;
}

.reservationForm input :placeholder {
    display: none;
    color: transparent;
    user-select: none; /* Standard syntax */
}


.reservationForm label {
    font-size: 1rem;
    color: grey;
    display: block;
    transform: translate(1.25rem,-2.5rem);
    transform-origin: 0 0; 
    transition: all 500ms;
    user-select: none; /* Standard syntax */

    pointer-events: none; 
}


.register {
    background: darken(#E0C9CB, 10%);
    padding: 10px;
    display: inline-block;
    outline: 0;
    border: 0;
    margin: 10px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
    border: 0px solid rgb(169, 169, 169);
}

p, a {
    text-decoration: none;
    color: black;
    text-align: center;
}