@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
    box-sizing:border-box
}

body {
    display: grid;
    font-family: 'Comfortaa', sans-serif;
}

/* Navigation Bar */

.topnav {
  overflow: hidden;
  background-color: #EDF6F9;
}

.topnav a {
  float: left;
  color: #006D77;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #83C5BE;
  color: white;
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* This ensures that the container takes up the full height of the viewport */
  background-color: white;
}

.landing h2, .landing p {
  text-align: center;
}


/* Slideshow */

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: 10px 0px 0px 0px;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0px 0px 10px 0px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* Topics */
.topics {
  text-align: center;
}

/* Cards */
.card-container {
  display: flex;
  justify-content: space-between; /* Adjust this as needed */
  margin: 0px 0px 10px 0px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 24%; /* Adjust the width as needed (100% / number of cards) */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  margin-bottom: 20px; /* Optional: Add some space between cards */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
  

/* Promotional Secion */
.custom-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 24.4%;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.card-image {
  margin: 10px;
  max-width: 200px;
  max-height: 200px;
}

.card-title {
  font-size: 1.5em;
}

.card-price {
  color: grey;
  font-size: 18px;
}

.card-button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.card-signup {
  margin-bottom: 20px;
}

.card-signup a {
  color: #006D77;
  text-align: center;
  padding: 4px 5px;
  text-decoration: none;
  font-size: 17px;
}

.card-signup a:hover {
  background-color: #ddd;
  color: black;
}